<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <title>Grid Test</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "grid", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
    <% if Rails.env.development? %>
      <%= stylesheet_link_tag "debug", "data-turbo-track": "reload" %>
      <%= javascript_import_module_tag "debug" %>
    <% end %>
  </head>
  <body>
    <% if Rails.env.development? %>
      <button id="debug-grid-toggle" class="debug-toggle">HIDE</button>
      <div id="debug-grid-info" class="debug-info">
        <h4>Grid Debug Info</h4>
        <p id="dbg-grid-count"></p>
        <!-- values populated by debug.js -->
      </div>
      <div id="debug-grid-numbers"></div>
    <% end %>
    <%= yield %>
  </body>
</html>
